<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans spring-beans-4.2.xsd">

    <bean id="person1" class="com.Person">
        <property name="name" value="素还真"></property>
        <property name="wzyCustom" value="wzycustomer-games"></property>
    </bean>


    <bean  class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars" >
            <list>
                <bean class="com.WzyCustomEditorsRegisters"></bean>
            </list>
        </property>
    </bean>



</beans>