<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangziyu.mybatis.cache.WzyMapper">
    <select id="doPersonQry1" resultMap="personResultMap" >
        select  p_id,p_name,p_age from person where p_id=#{xxxxx}
    </select>

    <select id="doPersonQry2" resultMap="personResultMap" >
        select  p_id,p_name,p_age from person where p_id=#{xxxxx}
    </select>


    <update id="doPersonUpdate"  >
         update person set p_name='cacheUpdate' where p_id=#{xxxxx}
    </update>


    <select id="doPersonQry4" resultMap="personResultMap" >
        select  p_id,p_name,p_age from person where p_id=#{id} and p_name=#{name} and p_age=#{age}
    </select>

    <resultMap id="personResultMap" type="com.wangziyu.mybatis.cache.Person" >
        <result property="id" column="p_id" ></result>
        <result property="name" column="p_name"></result>
        <result property="age" column="p_age"  ></result>
    </resultMap>








</mapper>
