<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangziyu.mybatis.parammap.WzyMapper">
    <select id="doPersonQry1" resultMap="personResultMap" >
        select  p_id,p_name,p_age from person where p_id=#{xxxxx}
    </select>

    <select id="doPersonQry2" resultMap="personResultMap" >
        select  p_id,p_name,p_age from person where p_id=#{param0} and p_name=#{arg1} and p_age=#{arg2}
    </select>


    <select id="doPersonQry3" resultMap="personResultMap" >
         select  p_id,p_name,p_age from person where p_id=#{ID} and p_name=#{NAME} and p_age=#{AGE}
    </select>


    <select id="doPersonQry4" resultMap="personResultMap" >
        select  p_id,p_name,p_age from person where p_id=#{id} and p_name=#{name} and p_age=#{age}
    </select>

    <resultMap id="personResultMap" type="com.wangziyu.mybatis.parammap.Person" >
        <result property="id" column="p_id" ></result>
        <result property="name" column="p_name"></result>
        <result property="age" column="p_age"  ></result>
    </resultMap>








</mapper>
